<div class="jumbotron text-center">
     <h1 class="welcome_msg">welcome to open items financial tracker</h1>
</div>

<div class="sign_in_btns">
 <div class="container">
 <div class="row">
 <div class="col-md-6">
   <%= link_to("sign in", new_user_session_path, class: "btn btn-primary")%>
 </div>
 <div class="col-md-6">
  <%= link_to("sign up", new_user_registration_path, class: "btn btn-success")%>
 </div>
 </div>
 </div>
</div>